.del {
    text-decoration: none;
    color: #b30000;
    background: #fadad7;
}

.ins {
    background: #eaf2c2;
    color: #406619;
    text-decoration: none;
}

.result {
    white-space: pre-wrap;
    margin: 0;
}

ul {
    padding-left: 1rem;
}

/* For patch diffs */
/* .chunk-header {
  color: #8a008b;
  text-decoration: none;
} */